<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body style="background-color:#202020;">
        <div class="px-4 my-5 text-center text-white">
            <h3 class="pb-3">Olá <%= nome %>, bem-vindo a pagina secreta</h3>
            <h2 class="pb-3">Dados do seu usuario:</h2>
            <a>id: <%= id %></a> <br>
            <a>nome: <%= nome %></a> <br>
            <a>usuario: <%= usuario %></a> <br>
            <a>senha: <%= senha %></a> <br>
            <button onclick="sair()" class="btn btn-primary my-5">Sair</button>
            <div c lass="col-lg-6 mx-auto">
               <p class="lead mb-4">Feito por Matheus Cursino
                    <br> Documentação <span class="text-decoration-underline text-primary" style="cursor:pointer;"> aqui </span>.
                </p>
            </div>
        </div>
    </body>
    <script>
        function sair() {
            fetch('/logout', {
                method: 'GET',
                headers: {
                'content-type': 'application/json',
                'accept': 'application/json'
                }
            })
            .then(response => response.json())
            .then (data =>  {
                var resposta = JSON.stringify(data)
                var respostaValues = Object.values(resposta)
                alert( Object.values(JSON.parse(resposta)))
            })
        }
    </script>
</html>